@charset "UTF-8";

/* 共通部分
----------------------------------------------------- */

/*<input type="number">のスピンボタン消す*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}


a {
    text-decoration: none;
}
.main-nav{
	display: flex;
	font-size: 1.25rem;
	list-style: none;
	margin-top: 34px;

	font-family: "Noto Sans JP", sans-serif;
}
.main-nav li{
	margin-left: 35px;

}
.main-nav a:hover {
    color: #1565C0;
}
.page-header a{
	color: #000000;
	text-align: center;
}
.page-header{
	width: 1000px;
	display: flex;
	justify-content: space-between;

	gap: 30px;
	align-items: center;
	padding: 18px 0;

	border-bottom: 1px solid #1565C0;
}
.page-title{
	text-align: center;
}
.page-title h1{
	font-size: 3rem;
	font-family: "Noto Sans JP", sans-serif;
	font-weight:normal;
}
.wrapper{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

/* list
------------------------------- */
.grid{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 50px;
	margin-top: 5%;
	margin-bottom: 60px;
	justify-content: center;
	grid-template-rows: auto;
}
.grid img{
    max-width: 100%;
    border: 1px solid #000;
}

.grid img:hover{
    max-width: 100%;
    border: 1px solid #1565C0;
}

/* item
------------------------------- */
.container{
    display:flex;
    margin: 5% auto;

}
.product-img{
	display: block;
	width: 42%;
	margin-left: 7%;
	margin-right: 70px;
}
.product-img img{
	max-width: 100%;
    border: 1px solid #000
}

.product-text{
	width: 47%;
}

.product-text h2{
	margin-top: 3px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	font-size: 38px;
}
.tprice{
	font-size: 38px;
	margin: 5px;
}
.tprice span{
	font-size: 20px;
}
.tstock{
	font-size: 20px;
	margin-bottom: 40px;
}
.description {
	font-size: 20px;
	overflow-wrap: anywhere;
	white-space: pre-wrap;

}


.s-btn{
	background: white;
	border: none;
	cursor: pointer;

  	font-size: 18px;
}

#quantity{
	width: 70px;
	text-align: center;
	border: none;
	cursor: pointer;
	font-size: 15px;


}

.selector{

	border-radius: 20px;
	border: 1px solid #ccc;

	width: 150px;
	height:40px;

	display: flex;
	align-items: center;
	justify-content: center;
}

#c-btn{
	width: 70%;
	height: 50px;
	margin-top: 22px;
	color:#000;
	background-color:#88ccff;
	border: 1px solid #ccc;
	border-radius: 30px;
	font-size: 18px;
	cursor: pointer;
}

.s{
	margin-top: 5%;
}


/* form(ログインと商品新規登録)
------------------------------- */
.container2 {
	max-width: 700px;
	margin: auto;
	background: #fff;
	padding: 30px 40px;
	border: 1px solid #c0c0c0;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.form {
	margin-bottom: 20px;
}
.form label {
    display: block;
    margin-bottom: 8px;
	color: #444;
	font-size:1.2rem;
	font-weight: bold;

	font-family: "Noto Sans JP", sans-serif;
}
.f{
	width: 100%;
	margin-bottom: 2%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;

	font-family: "Noto Sans JP", sans-serif;
}
textarea {
      resize:none;
      height: 100px;
}


/* update
------------------------------- */
.update-table {
	width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;

}
.update-table th,
.update-table td {
    border: 1px solid #ccc;
	padding: 12px;
	vertical-align: top;
}
.update-table th {
    text-align: center;
	font-weight: bold;

	font-family: "Noto Sans JP", sans-serif;
}



.label {
	width: 9%;
}
.before,
.after{
	width: 40%;
}

.ft {
	width: 100%;
	margin-bottom: 2%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;

	font-family: "Noto Sans JP", sans-serif;
}
.current-img{

}
.preview {
    max-width: 250px;
	height: auto;
	display: block;
	margin: 5% auto;
	border: 1px solid #ccc;
}
#curr{
	vertical-align: middle;
}
.lbl {
    background-color: #f0f0f0;
    text-align: center;
	font-weight: normal;

	font-family: "Noto Sans JP", sans-serif;
}
.u{
	display:flex;
	justify-content: center;
	gap: 5%;
}
.btn {
	width: 10%;
	margin-top: 22px;
	color:#333;
	border: 1px solid #000;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
}

.col{
	max-width: 450px;
	overflow-wrap: anywhere;
}
.ttext{
	white-space: pre-wrap;
	font-size: 17px;
	font-family: "Noto Sans JP", sans-serif;
}


/* login
------------------------------- */
#l-btn{
	display: block;
	width: 100%;
	margin-top: 4%;
	padding: 12px;
	color: fff;
	border: 1px solid #c0c0c0;
	border-radius: 17px;
	font-size: 20px;
	cursor: pointer;

	font-family: "Noto Sans JP", sans-serif;
}


/* new product
------------------------------- */
.r-btn {
	display: block;
	width: 100%;
	margin-top: 4%;
	padding: 12px;
	color:fff;
	border: 1px solid #400040;
	border-radius: 17px;
	font-size: 20px;
	cursor: pointer;

	font-family: "Noto Sans JP", sans-serif;
}

/* product-table
------------------------------- */
.product-table {
	width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
}
.product-table th,
.product-table td {
	height: 10px;
    border: 1px solid #ccc;
	padding: 10px;
	vertical-align: top;
}

.tt{
	max-width: 640px;
}
.pc{
	min-width: 70px;
}
.sc{
	min-width: 60px;
}

.product-table th {
    text-align: center;
	font-weight: bold;

	font-family: "Noto Sans JP", sans-serif;
}
.product-table a{
	color: #000;
	text-align: center;
}
.product-table a:hover{
	color: #1565C0;
}




/* color
---------------------------------------------------- */
#l-btn, .r-btn {
    background-color: #0D47A1;
    color: #fff;
    border: 1px solid #000;
}

#l-btn:hover, .r-btn:hover {
    background-color: #1565C0;
}
.btn:hover{
	background-color: #bbb;
}

.update-table th,
.product-table th {
    background-color: #B0BEC5;
    color: #212121;
}

/* フォント（Noto Sans JP） */
.noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
}

/*カート*/
.cart img{
	max-width: 24px;
	padding-bottom:4px;
	padding-left:4px;
	vertical-align: middle;
}
.cart:hover{
	border: 2px solid #1565C0;
}
.cart{
	border: 2px solid #000;
	padding: 3px 3px;
}


